#game-screen {
    display: none;
}

#sidebar-menu {
    display: none;
}
#combat-menu {
    display: none;
}

#inventory-menu {
    display: none;
}

#stats-menu {
    display: none;
}

#level-up-screen {
    display: none;
}

#investigate-button {
    display: none;
}

#inventory-screen {
    display: none;
}

.selected {
    background-color: yellow;
}

#combat-log {
    height: 100px;
    overflow-y: auto;
}

#upgrade-shop {
    display: none;
}

.selected-upgrade {
    background-color: yellow;
}